#gaopin{
	width: 90%;
	line-height: 3rem;
	height: 3rem;
	margin: 0 auto;

}
#head{
	width:90%;
	margin:0 auto;
	height:auto;
	background-color: #FFFFFF;
}
#all_ul{
	width:100%;
	list-style: none;
	margin: 0 auto;
	margin-left: 2rem;
}
#all_ul li{
	width:300px;
	height:12rem;
	padding: 1rem;
	float: left;
	background: #EEEEEE;
	margin: 10PX;
}
#all_ul li h1{
	font-size: 15px;
	border-bottom: 1px solid #b9bdb5;
}
#all_ul li h1 a{
	color: #00BFFF;
}
.bottoms{
	margin-top:1rem;
	width:100%;
	height:100%;
}
.lefts{
	display: inline-block;
	width:150px;
	height:120px
}
.lefts img{
	width:100%
}
#rightd{
	width:140px;
	float:right;
}
#rightd p{
	color:#000;
	font-size:14px;
}
.btns{
	margin-top:1rem;
	display: inline-block;
	width:100px;
	height:2rem;
	background:deepskyblue;
	text-align: center;
	line-height: 2rem;
	color:#FFFFFF
}
.btns:hover{
	background: orange;
}
